<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login Form</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous" />
</head>
<body>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-5">
      <h3 class="text-center mb-4">Đăng nhập</h3>
      <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
      <form method="post" th:action="@{/login}" th:object="${user}">
        <div class="form-group">
          <label for="username">Tên đăng nhập</label>
          <input type="text" class="form-control" id="username" placeholder="Nhập tên đăng nhập" required
                 th:field="*{username}" />
        </div>
        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" required
                 th:field="*{password}" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
      </form>


    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>
